.main {
  position: relative;
  max-width: 274px;
  min-height: 100vh;
  position: fixed;
  background-color: #fff;
  &::after {
    content: '';
    position: absolute;
    bottom: 114px;
    width: 73%;
    height: 1px;
    background-color: #E8EBEF;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  &-links {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    &__link {
      display: flex;
      align-items: center;
      text-align: left;
      color: #908f8f;
      & svg{
        margin-right: 11px;
        & > path {
          stroke: #908f8f;
        }
      }
      & a {
        padding: 21px 0 21px 40px;
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;

        &:visited,
        &:hover,
        &:active {
          font-weight: 500;
          font-size: 14px;
          line-height: 14px;
          color: #2B3844;
        }
      }
    }
    &__link.active {
      color: #5382E7;
      & > svg > path {
        stroke: #5382E7;
      }
    }
  }
}

.logo {
  margin: 48px 46px 64px 40px;
}

.logout {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
  bottom: 48px;
  color: #908f8f;
  opacity: 0.4;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  & > img {
    margin-right: 9px;
  }

}

.navLinkText {
  color: #2B3844;
}

.active-link {
  color: #5382E7;
  background: rgba(#5382E7, 0.04);
  border-right: 2px solid #5382E7;
  & > svg > path {
    stroke: #5382E7;
  }
  &:visited,
  &:hover,
  &:active {
    color: #5382E7 !important;
  }
}





