.barchart {
  height: 100%;
  position: relative;
  & #center-axis-container svg {
    & rect {
      fill: #5b6acd;
    }
  }
  & #center-axis-container > div:first-child svg::after {
    display: inline-block !important;
    content: "k" !important;
  }
  #top-container {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 60px;
    h3 {
      width: auto;
      margin: 0;
      text-align: left;
      &:first-of-type {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #2b3844;
        & + * {
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}
