.barchart {
  height: 100%;
  position: relative;
  & #center-axis-container svg {
    & path {
      //display: none;
    }
    & rect {
      fill: #5B6ACD;
    }
  }
  #top-container {
    display: flex;
    flex-direction: column !important;
    margin-bottom: 60px;
    h3 {
      width: auto;
      margin: 0;
      text-align: left;
      &:first-of-type {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #2B3844;
        & + * {
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
        }
      }

    }
  }
}

.noData {
  position: absolute;
  font-size: 30px;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}