.table {
  &-head {
    background-color: #2B3844;
    width: 100%;
    &__list {
      display: grid;
      grid-template-columns: repeat(9, 11.11%);
      margin-bottom: 24px;
      border-radius: 3px;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }
  }
}

